numpy>=1.24.3
pandas>=1.5.0
Pillow>=9.0.0
python-dotenv>=0.19.0
PySide6>=6.5.0
opencv-python>=4.8.1.78
onnxruntime-gpu
torch>=2.0.0
torchvision>=0.15.0
tqdm>=4.65.0
PyYAML>=6.0.1
pyttsx3>=2.90
pytest>=7.0.0